*{margin:0px;padding:0px; font-family: "微软雅黑";}
html,iframe,body{height:100%}
.none{display:none !important}
@media screen and (max-width: 640px){#mobileFrame{display:none !important;}}
#hidemobile{font-size: 14px;font-weight: bold;border: 1px solid silver;position: absolute;right: 20px;top: 8px;width: 15px;height: 15px;text-align: center;padding: 0;line-height: 15px;border-radius: 15px;cursor:pointer;}
