@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
		#world {
		  background: #ebe5e7;
		  position:absolute;
		  width:100%;
		  height:100%;
		  overflow:hidden;
		}
		#instructions{
		  position:absolute;
		  width:100%;
		  top:50%;
		  margin: auto;
		  margin-top:120px;
		  font-family:'Open Sans', sans-serif;
		  color:#653f4c;
		  font-size:.9em;
		  text-transform: uppercase;
		  text-align : center;
		  user-select: none;
		}
		.lightInstructions {
		  color:#993f4c;
		  font-size:.8em;
		}
		
		#credits{
		  position:absolute;
		  width:100%;
		  margin: auto;
		  bottom:0;
		  margin-bottom:20px;
		  font-family:'Open Sans', sans-serif;
		  color:#b297a2;
		  font-size:0.7em;
		  text-transform: uppercase;
		  text-align : center;
		}
		#credits a {
		  color:#b297a2;
		}
		
		#credits .society6 {
		  color:#993f4c;
		}
		.page-footer {
		  position: fixed;
		  right: 35px;
		  bottom: 20px;
		  display: flex;
		  align-items: center;
		  padding: 5px;
		  color: black;
		  background: rgba(255, 255, 255, 0.65);
		}
		
		.page-footer a {
		  display: flex;
		  margin-left: 4px;
		}
		.touxiang{
			bottom: 0px;
			width:30px;
			height:30px;
		}